<ion-view view-title="pH to Molar 'H'">
  <ion-content>
    <h1></h1>
    <div class="card">
  <div class="item item-text-wrap">
  	<div class="bar bar-header bar-balanced">
  	<h4 class="title"> pH to Hydronium Ion Concentration </h4>
	</div></br></br>
    Calculating the Hydronium Ion Concentration from pH</br></br>
The hydronium ion concentration can be found from the pH by the reverse of the mathematical operation employed to find the pH.
</br></br>
<img class="full-image" src="/img/cd_denklem1.jpg">
</br></br>
Example:  What is the hydronium ion concentration in a solution that has a pH of 8.34?
</br></br>
<img class="full-image" src="/img/cd_denklem2.jpg">
</br></br>




  </div>
</div>
    </ion-content>
</ion-view>
