<ion-view view-title="pOH to Molar 'OH'">
  <ion-content>
    <h1></h1>
    <div class="card">
  <div class="item item-text-wrap">
  	<div class="bar bar-header bar-balanced">
  	<h4 class="title"> pH to Hydronium Ion Concentration </h4>
	</div></br></br>
    Calculating the Hydroxide Ion Concentration from pOH
</br></br>
The hydroxide ion concentration can be found from the pOH by the reverse mathematical operation employed to find the pOH.
</br></br>
<img class="full-image" src="/img/ck_denlem3.jpg">
</br></br>
Example:  What is the hydroxide ion concentration in a solution that has a pOH of 5.70?
</br></br>
<img class="full-image" src="/img/ck_denlem4.jpg">



  </div>
</div>
   
  </ion-content>
</ion-view>
