<ion-view view-title="pH&pOH to Molarity&Concentration">
  <ion-content>
    <h1></h1>
  
    <div class="card">
  <div class="item item-text-wrap">
  	<div class="bar bar-header bar-balanced">
  	<h4 class="title"> Relationship Between pH and pOH </h4>
	</div></br></br>
    The pH and pOH of a water solution at 25°C are related by the following equation
</br></br>
pH + pOH = 14
</br></br>
If either the pH or the pOH of a solution is known, the other can be quickly calculated.
</br></br>
Example:  A solution has a pOH of 11.76.  What is the pH of this solution?
</br></br>
pH =  14  -  pOH;</br>
 14 - 11.76 =  2.24</br></br>
 <h2>Why pH + pOH = 14</h2>
 </br></br>
Water ungergoes auto- or self-ionization as shown in the following equation.
</br></br>
2 H2O  -->   H3O^+ + OH^-
</br></br>
An equilibrium is established between the ions produced and the unionized water. An equilibrium expression can be written for this system.
</br></br>
Kw = [H3O^+][OH^-]
</br></br>
Kw is used to represent the equilibrium constant for the ionization of water. It is a special notation of the general representation Kc.
</br></br>
The value of Kw when measured at 25°C has been determined to be 1 x 10-14.
</br></br>
Mathematically, if one takes the log of both sides of the equation, remembering that when numbers are multiplied their logs are added, we arrive at the following equation.
</br></br>
log (1 x 10^-14) = log [H3O^+] + log [OH^-]
</br></br>
The log (1 x 10-14) = - 14. 
</br></br>
Thus, - 14 = log[H3O+] + log [OH-]
</br></br>
Multiplying both sides of the equation by -1, we get
</br></br>
14 = - log [H3O+] - log [OH-]
</br></br>
The - log [H3O+] is defined as the pH, and the - log [OH-] is defined as the pOH. Substituting into the equation yields the relationship between pH and pOH of a solution.
</br></br>
14 = pH + pOH



  </div>
</div>
   
  </ion-content>
</ion-view>
