<ion-view view-title="pH In Distilled Water">
  <ion-content>
    <h1></h1>
    <div class="card">
  <div class="item item-text-wrap">
  	<div class="bar bar-header bar-balanced">
  	<h4 class="title"> </h4>
	</div></br></br>
    Temperature Dependence of the pH of pure Water
</br></br>
The formation of hydrogen ions (hydroxonium ions) and hydroxide ions from water is an endothermic process. Using the simpler version of the equilibrium:
</br></br>
<img class="full-image" src="/img/ck_denlem5.png">
</br></br>
Hence, the forward reaction, as written, "absorbs heat".
</br></br>
According to <a href="#/app/14">Le Châtelier's Principle</a>, if you make a change to the conditions of a reaction in dynamic equilibrium, the position of equilibrium moves to counter the change you have made. Hence, if you increase the temperature of the water, the equilibrium will move to lower the temperature again. It will do that by absorbing the extra heat. That means that the forward reaction will be favored, and more hydrogen ions and hydroxide ions will be formed. The effect of that is to increase the value of  Kw  as temperature increases.
</br></br>
The table below shows the effect of temperature on  Kw . For each value of  Kw , a new pH has been calculated. It might be useful if you were to check these pH values yourself.
</br></br>
<img class="full-image" src="/img/ck_tablo1.png">
</br></br>
You can see that the pH of pure water decreases as the temperature increases. Similarly, the pOH also decreases.
</br></br>
    <div class="item item-divider">  
    WORD OF WARNING! 
    </br></br>
    If the pH falls as temperature increases, this does not mean that water becomes more acidic at higher temperatures. A solution is acidic if there is an excess of hydrogen ions over hydroxide ions (i.e., pH < pOH). In the case of pure water, there are always the same concentration of hydrogen ions and hydroxide ions and hence, the water is still neutral (pH = pOH) - even if its pH changes.
    </br></br>
    The problem is that we are all familiar with 7 being the pH of pure water, that anything else feels really strange. Remember that to calculate the neutral value of pH from  Kw . If that changes, then the neutral value for pH changes as well. At 100°C, the pH of pure water is 6.14, which is "neutral" on the pH scale at this higher temperature. A solution with a pH of 7 at this temperature is slightly alkaline because its pH is a bit higher than the neutral value of 6.14.
    </br></br>
    Similarly, you can argue that a solution with a pH of 7 at 0°C is slightly acidic, because its pH is a bit lower than the neutral value of 7.47 at this temperature. Hence, there is an excess of  H+  ions vs.  OH−  ions.
    </div>


  </div>
</div>
   
  </ion-content>
</ion-view>