<ion-view view-title="Le Chatelier's Principle">
  <ion-content>

    <h1></h1>
    <div class="card">
  <div class="item item-text-wrap">
  	Le Chatelier's principle states that if a dynamic equilibrium is disturbed by changing the conditions, the position of equilibrium shifts to counteract the change to reestablish an equilibrium. If a chemical reaction is at equilibrium and experiences a change in pressure, temperature, or concentration of products or reactants, the equilibrium shifts in the opposite direction to offset the change. This page covers changes to the position of equilibrium due to such changes and discusses briefly why catalysts have no effect on the equilibrium position.
  	
	</div>
 



  </div>
</div>
   
  </ion-content>
</ion-view>