<ion-view view-title="Alkalinity Components">
  <ion-content>
    <div class="card">
  		<h1><a class="button icon-left ion-chevron-left button-clear button-dark" href="#/app/2">Go back Alkalinity Calculations</a></h1>
  <div class="item item-text-wrap">
    
 
   <h2> Determination from equilibrium equations </h2>
   <img class="full-image" src="/img/ALK1.jpg">

</br></br></br>
<h2> Determination from equilibrium equations </h2>
<img class="full-image" src="/img/slide_13.jpg">

 </div>
</div>
  </ion-content>
</ion-view>
